* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: Arial;
    color: white;
}


body {
    background-color: bisque;
    height: 50px;
}



.heading {
    font-size: 45px;
    font-weight: 120px;
    margin-left:150px;
    margin-top: 50px;
    color: black;
}


.container {
    border-radius: 20px;
    background-color: black;
    padding:30px;
    margin-left: 250px;
    width: 700px;
}


.cont2 {
    font-size: 20px;
    padding-bottom: 10px;
}


.box {
   display: block;
   margin-left: 100px;
}


.text1 {
    padding-left: 80px;
}


.input {
   padding:15px;
   width: 350px;
   color: black;
   border-radius: 8px;
   font-size: 20px;
}


.butt1 {
  padding: 15px;
  width: 150px;
  background-color: green;
  border-radius: 10px;
  border: none;
  font-size: 18px;
  font-weight: bolder;
}


.boxdiv {
    padding-left: 50px;
}


.boxdiv2 {
    padding-left: 140px;
    padding-top: 10px;
}


.paragraph {
    padding-top: 20px;
    padding-left: 150px;
    padding-bottom:50px;
    font-size: 25px;
    font-family: bolder;
    color: wheat;
  
}


.dive1 {
    background-color: brown;
    border-radius: 20px;
    margin-bottom: 10px;
}


.newsub {
    background: brown;
    color: wheat;
}